/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    background-color: #FCFCFC;
    height: 100%;
    /*background-image: url("/background.jpg");*/
    background-repeat: no-repeat;
    background-position:center center;
    position:relative;
}

.header {
  background-color: #6C7A89 !important;
  height: 35px
}

.pure-menu a {
  color: #FCFCFC;
}

html {
  height: 100%
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

h4 {
  color: #6C7A89;
}

.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #34A7C1;
}

/*
/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    /*height: 5%;*/
}

/*
 * -- TABLE --
 */
.content {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  height: 81%;
  height: -moz-calc(100% - 50px); /* Firefox */
  height: -webkit-calc(100% - 50px); /* Chrome, Safari */
  height: calc(100% - 50px); /* IE9+ and future browsers */
}

.list {
  padding: 5%;
}

.textButtonDSLAM {
  font-size: 200%;
}

.textButtonCard {
  font-size: 150%;
}

.textButtonPort {
  font-size: 150%;
}

.DSLAMList, .CardList, .PortList, .ServiceList {
  overflow: auto;
}
.list-button {
  background: rgb(255, 255, 255); /* this is a green */
}

.fa-close {
  color : red;
}
.fa-exclamation {
  color : orange;
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
  color: white;
}


.footer {
    background: #6C7A89 !important;
    color: #FCFCFC !important;
    text-align: center;
    height: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.footer p {
    margin: 0px;
}

.footer a {
    color: #FCFCFC;
}

.aimgbis {
  display: none !important;
  padding-top: 5px !important;
  padding-right: 0px !important;
  padding-bottom: 5px !important;
  padding-left: 0px !important;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.aimg {
  display: block !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.loader {
  left: -30%
}



/*
 * -- Small --
 */
@media (min-width: 568px) {

  .loader {
    left: 75%
  }

}


/*
 * -- Medium --
 */
@media (min-width: 768px) {

  .imagePort {
    font-size: 1.5em !important;
  }

  .aimgbis {
    display: block !important;
  }

  .aimg {
    display: none !important;
  }

  .loader {
    left: 80%
  }

}


/*
 * -- Large --
 */
@media (min-width: 1024px) {

  .imagePort {
    font-size: 2em !important;
  }

  .loader {
    left: 85%
  }

}


/*
 * -- Xlarge --
 */
@media (min-width: 1280px) {

  .loader {
    left: 90%
  }

}


/*
 * -- Switch On/Off
 */
 .onoffswitch {
   position: relative; width: 80px;
   -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
   margin: 0.8em 0.1em;
 }
 .onoffswitch-checkbox {
   display: none !important;
 }
 .onoffswitch-label {
   display: block; overflow: hidden; cursor: pointer;
   border: 0px solid #999999; border-radius: 15px;
   margin-top: 0px !important;
   margin-right: 0px !important;
   margin-bottom: 0px !important;
   margin-left: 0px !important;
 }
 .onoffswitch-inner {
   display: block; width: 200%; margin-left: -100%;
   -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
   -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
 }
 .onoffswitch-inner:before, .onoffswitch-inner:after {
   display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
   font-size: 17px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
   -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
 .onoffswitch-inner:before {
   content: "ON";
   padding-left: 12px;
   background-color: #34A7C1; color: #FFFFFF;
 }
 .onoffswitch-inner:after {
   content: "OFF";
   padding-right: 12px;
   background-color: #EEEEEE; color: #999999;
   text-align: right;
 }
 .onoffswitch-switch {
   display: block; width: 15px; height: 20px; margin: 4.5px;
   background: #FFFFFF;
   border: 0px solid #999999; border-radius: 15px;
   position: absolute; top: 0; bottom: 0; right: 50px;
   -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
   -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
 }
 .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
   margin-left: 0;
 }
 .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
   right: 5px;
 }

 .loader {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  border: 2px solid #FBFBFB;
  top: 50%;
  animation: loader 3s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #FBFBFB;
  animation: loader-inner 3s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 100%;
  }

  25% {
    height: 100%;
  }

  50% {
    height: 0%;
  }

  75% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}
