<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive pricing table.">

    <title>DSLAM Alcatel Management</title>
    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="/css/pure-min.css">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/css/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <!--<![endif]-->

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/css/WebManageAlcatel-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/css/WebManageAlcatel.css">
    <!--<![endif]-->

    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="/js/WebManageAlcatel.js"></script>

  </head>
  <body>
<!--
    <div class="pure-menu pure-menu-open pure-menu-horizontal header">
      <ul>
        <li><img src="/mitel.png" style="width:110px; margin-left:10px"></li>
        <li><a class="btn btn-default" href="/"><i class="fa fa-home"></i> Home</a></li>
        <li><a class="btn btn-default" href="/"><i class="fa fa-lightbulb-o"></i> Help</a></li>
        <li><a class="btn btn-default" href="mailto:contact@reseautel.fr"><i class="fa fa-book"></i> Contact</a></li>
        <li><a class="btn btn-default" href="/option"><i class="fa fa-cog"></i> Options</a></li>
        <span class="loader"><span class="loader-inner"></span></span>
      </ul>
    </div>
-->

<div class="pure-menu pure-menu-open pure-menu-horizontal header pure-g">
    <div class="pure-u-7-24 pure-u-sm-1-6 pure-u-md-4-24 pure-u-lg-3-24" style="padding-top: 4px"><img src="/mitel.png" style="width:110px; margin-left:10px"></div>
    <div class="pure-u-4-24 pure-u-sm-1-6 pure-u-md-3-24 pure-u-lg-2-24"><a class="btn btn-default aimg" href="/"><i class="fa fa-home fa-2x"></i></a><a class="btn btn-default aimgbis" href="/"><i class="fa fa-home"></i> Home</a></div>
    <div class="pure-u-4-24 pure-u-sm-1-6 pure-u-md-3-24 pure-u-lg-2-24"><a class="btn btn-default aimg" href="/"><i class="fa fa-lightbulb-o fa-2x"></i></a><a class="btn btn-default aimgbis" href="/"><i class="fa fa-lightbulb-o"></i> Help</a></div>
    <div class="pure-u-4-24 pure-u-sm-1-6 pure-u-md-3-24 pure-u-lg-2-24"><a class="btn btn-default aimg" href="mailto:contact@reseautel.fr"><i class="fa fa-book fa-2x"></i></a><a class="btn btn-default aimgbis" href="mailto:contact@reseautel.fr"><i class="fa fa-book"></i> Contact</a></div>
    <div class="pure-u-4-24 pure-u-sm-1-6 pure-u-md-3-24 pure-u-lg-2-24"><a class="btn btn-default aimg" href="/option"><i class="fa fa-cog fa-2x"></i></a><a class="btn btn-default aimgbis" href="/option"><i class="fa fa-cog"></i> Options</a></div>
    <div class="pure-u-1-24 pure-u-sm-1-6 pure-u-md-8-24 pure-u-lg-13-24" style="padding-top: 6px"><span id="loader "class="loader"><span class="loader-inner"></span></span></div>
</div>
