<div id="layout" class="content pure-g">
  <div id="DSLAMList" class="DSLAMList pure-u-1 pure-u-md-1-4">
    <div class="list pure-g">
      <button class="pure-button pure-u-1">
        <i class="imageDSLAM fa fa-cube fa-3x"></i>
        <span class="textButtonDSLAM">DSLAM 1</span>
      </button>
      {{.DSLAMList}}
      <a href="/option?add"class="pure-button pure-u-1">
        <i class="fa fa-plus fa-2x"></i>
        <span class="textButtonDSLAM">Ajouter</span>
      </a>
    </div>
  </div>
  <div id="DSLAMList" class="DSLAMList pure-u-1 pure-u-md-1-4">
    <div class="list pure-g">
      {{.Options}}
    </div>
  </div>
</div>
