<div id="layout" class="content pure-g">
  <div id="DSLAMList" class="DSLAMList pure-u-1 pure-u-md-1-4">
    <div class="list pure-g">
      {{.DSLAMList}}
      <a href="/option?add"class="list-button pure-button pure-u-1">
        <i class="fa fa-plus fa-2x"></i>
        <span class="textButtonDSLAM">Ajouter</span>
      </a>
    </div>
  </div>
  <div id="DSLAMList" class="pure-u-1 pure-u-md-3-4">
      {{.Options}}
  </div>
</div>
